ion-content {
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-bottom: 30px;
}

ion-item-divider {
  margin-top: 15px;
  border-radius: 8px 8px 0px 0px;
}

ion-item {
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.30);
}