<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/vacancies"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes da vaga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="vacancyData">
  
  <ion-item-group>

    <ion-item-divider color="secondary">
      <ion-label>Contrante</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.hide_informations ? 'Não informado' : vacancyData.contractor_name }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>Cargo</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.objective }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>Faixa salarial</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.salary }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>Modalidade</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="location" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.modality }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>Estado</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="location" slot="start"></ion-icon>
      <ion-text>{{ state?.name || 'Não informado' }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>Cidade</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="location" slot="start"></ion-icon>
      <ion-text>{{ city?.name || 'Não informado' }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>Bairro</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="location" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.neighborhood }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>(Requisito) Nível de Formação</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.formation }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>(Requisito) Áreas de Formação</ion-label>
    </ion-item-divider>
    <ion-item lines="none" *ngFor="let formation_area of vacancyData.formation_areas">
      <ion-icon name="list-circle" slot="start"></ion-icon>
      <ion-text>{{ formation_area }}</ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="!vacancyData.formation_areas">
      <ion-icon name="list-circle" slot="start"></ion-icon>
      <ion-text>Nenhum</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>(Requisito) Outros requisitos de formação</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.formation_details || 'Nenhum' }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>(Requisito) Requisitos comportamentais</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.behavior_requirements || 'Nenhum' }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>(Requisito) Requisitos técnicos</ion-label>
    </ion-item-divider>
    <ion-chip *ngFor="let technical_requirement of vacancyData.technical_requirements">
      <ion-icon name="list-circle"></ion-icon>
      <ion-text>{{ technical_requirement }}</ion-text>
    </ion-chip>
    <ion-item lines="none" *ngIf="!vacancyData.technical_requirements">
      <ion-icon name="list-circle" slot="start"></ion-icon>
      <ion-text>Nenhum</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>(Requisito) Diferencial</ion-label>
    </ion-item-divider>
    <ion-chip *ngFor="let differential of vacancyData.differentials">
      <ion-icon name="list-circle"></ion-icon>
      <ion-text>{{ differential }}</ion-text>
    </ion-chip>
    <ion-item lines="none" *ngIf="!vacancyData.differentials">
      <ion-icon name="list-circle" slot="start"></ion-icon>
      <ion-text>Nenhum</ion-text>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>Atribuições do Cargo</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.objective_assignments }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary" *ngIf="vacancyData.contractor_email">
      <ion-label>Email do contratante</ion-label>
    </ion-item-divider>
    <ion-item lines="none" *ngIf="vacancyData.contractor_email">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.contractor_email }}</ion-text>
    </ion-item>

    <ion-item-divider color="secondary" *ngIf="vacancyData.contractor_email">
      <ion-label>Telefone do contratante</ion-label>
    </ion-item-divider>
    <ion-item lines="none" *ngIf="vacancyData.contractor_phone">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-text>{{ vacancyData.contractor_phone }}</ion-text>
    </ion-item>

  </ion-item-group>

  <ion-button
      class="sw-button"
      color="secondary"
      expand="block"
      (click)="sendResume()"
    >
      Me candidatar
      <ion-icon slot="end" name="send"></ion-icon>
    </ion-button>

</ion-content>
