<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="light-blue" src="/assets/shape-light-blue.svg" alt="">
  <img class="strong-blue" src="/assets/shape-strong-blue.svg" alt="">

  <p class="wrapper">Insira seu email de cadastro para enviarmos um link de recuperação de senha.</p>

  <form class="sw-form" [formGroup]="resetEmailForm" novalidate>
    <ion-item lines="none">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-button
      [disabled]="resetEmailForm.invalid"
      color="secondary"
      expand="block"
      class="sw-button"
      (click)="sendEmail()"
    >
      Enviar
      <ion-icon slot="end" src="/assets/logo.svg"></ion-icon>
    </ion-button>
  </form>

</ion-content>
