ion-content {
  --background: var(--ion-color-secondary);
}

.sw-form {

  ion-item {
    ion-icon[slot=start] {
      font-size: 25px;
    }
  }

  ion-item.hide {
    --background: var(--ion-color-warning);
  }

  ion-item.add-requirement {
    --inner-padding-end: 0px;

    ion-icon[slot=end] {
      font-size: 30px;
      color: var(--ion-color-primary);
    }
  }

  .hide-informations {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;

    ion-text {
      font-size: 14px;
    }
  }

  ion-item-divider {
    --background: var(--ion-color-primary);
    border-radius: 8px;
    margin-bottom: 10px;

    ion-text {
      color: var(--ion-color-light);
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}


ion-item.requirement {
  --background: var(--ion-color-medium);
  --inner-padding-end: 0px;

  ion-icon[slot=end] {
    font-size: 25px;
    color: var(--ion-color-light);
  }
}
