<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/candidate-profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Atualização de perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userData">
  <ion-avatar>
    <ion-icon *ngIf="!avatar" name="person-outline"></ion-icon>
    <img *ngIf="avatar" [src]="avatar">
  </ion-avatar>
  <ion-progress-bar class="progress" [value]="uploadProgress" color="primary"></ion-progress-bar>
  <form class="sw-form">
    <h3 class="wrapper">Primeiro vamos inserir sua imagem de perfil.</h3>
    <p class="text-wrapper">Uma foto bem apresentável pode causar uma melhor impressão ao contratante.</p>

    <ion-item lines="none" button (click)="chooseSource()" *ngIf="!uploadFinalized">
      <ion-label color="dark">Selecione uma foto</ion-label>
      <ion-icon slot="start" name="attach-outline"></ion-icon>
    </ion-item>

    <ion-button
      *ngIf="uploadFinalized || update"
      class="sw-button"
      color="light"
      expand="block"
      (click)="nextPage()"
    >
      Próximo
      <ion-icon slot="end" src="/assets/logo.svg"></ion-icon>
    </ion-button>

    <ion-button
      *ngIf="!uploadFinalized"
      [disabled]="!avatar"
      class="sw-button"
      color="light"
      expand="block"
      (click)="uploadImage()"
    >
      Enviar imagem
      <ion-icon slot="end" name="cloud-upload-outline"></ion-icon>
    </ion-button>

    <ion-button
      *ngIf="uploadFinalized || userData.profile_updated"
      class="sw-button"
      color="light"
      expand="block"
      [routerLink]="['/candidate-update/revision']"
    >
      Concluir
      <ion-icon slot="end" src="/assets/logo.svg"></ion-icon>
    </ion-button>
  </form>
</ion-content>
