<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Atualização de perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="sw-form" [formGroup]="candidateForm" novalidate>
    <h3 class="wrapper">Localização</h3>
    <ion-item lines="none">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-select
        placeholder="Estado" 
        (ionChange)="onStateChange($event)" 
        formControlName="state_id"
        okText="Ok"
        cancelText="Cancelar"
      >
        <ion-select-option
          *ngFor="let state of states"
          [value]="state.id"
        >{{ state.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-select
        placeholder="Cidade"
        formControlName="city_id"
        okText="Ok"
        cancelText="Cancelar"
      >
        <ion-select-option
          *ngFor="let city of cities"
          [value]="city.id"
        >{{ city.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      [disabled]="candidateForm.get('state_id').invalid || candidateForm.get('city_id').invalid"
      class="sw-button"
      color="light"
      expand="block"
      (click)="nextPage()"
    >
      Próximo
      <ion-icon slot="end" src="/assets/logo.svg"></ion-icon>
    </ion-button>

    <ion-button
        *ngIf="userData.profile_updated"
        class="sw-button"
        color="light"
        expand="block"
        (click)="goToRevision()"
        >
        Concluir
        <ion-icon slot="end" src="/assets/logo.svg"></ion-icon>
      </ion-button>
</form>
</ion-content>
