<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button *ngIf="user_type !== 'candidate'" tab="resumes">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Currículos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vacancies">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Vagas</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="user_type !== 'contractor'" tab="candidate-profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="user_type !== 'candidate'" tab="contractor-profile">
      <ion-icon name="business"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
