ion-card {
  border-radius: 8px;
}

ion-card-content {
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.content {
  ion-item {
    --padding-start: 12px;

    ion-text {
      font-weight: bold;
      font-size: 16px;
    }

    ion-icon {
      font-size: 20px;
      margin-right: 8px;
      color: var(--ion-color-dark)
    }
  }
}

.icons {
  display: grid;
  grid-template-rows: 1fr 1fr;

  ion-icon {
    color: var(--ion-color-dark);
    font-size: 35px;
  }
}