<ion-list>
  <ion-radio-group [value]="filter_value" (ionChange)="onFilterChange($event)">
    <ion-list-header>
      <ion-label>Filtre as vagas</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Todos</ion-label>
      <ion-radio slot="end" value="all"></ion-radio>
    </ion-item>

    <ion-item *ngIf="user_type === 'contractor'">
      <ion-text>Mostrar apenas minhas vagas</ion-text>
      <ion-radio slot="end" value="my_vacancies"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-item button (click)="close()">
    <ion-label>Fechar</ion-label>
  </ion-item>

</ion-list>
