<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Perfil profissional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="userData">
    <ion-card-header>
      <ion-avatar>
        <ion-icon *ngIf="!userData.avatar_url" name="person-outline"></ion-icon>
        <img *ngIf="userData.avatar_url" [src]="userData.avatar_url">
      </ion-avatar>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">Nome:</ion-label>
        <ion-text color="medium">{{ userData.name }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">LinkedIn</ion-label>
        <ion-text color="medium">{{ userData.linkedinUrl || 'Não informado' }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">Data de nascimento</ion-label>
        <ion-text color="medium">{{ userData.birthday }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">Telefone residencial</ion-label>
        <ion-text color="medium">{{ userData.residencial_phone || 'Não informado' }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">Telefone celular</ion-label>
        <ion-text color="medium">{{ userData.mobile_phone }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">Estado</ion-label>
        <ion-text color="medium">{{ state?.name || 'Não informado' }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">Cidade</ion-label>
        <ion-text color="medium">{{ city?.name || 'Não informado' }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">Escolaridade</ion-label>
        <ion-text color="medium">{{ userData.scholarity }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">Área de atuação</ion-label>
        <ion-text color="medium">{{ userData.actuation_area }}</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">Qualificações</ion-label>
        <ion-text color="medium">{{ userData.qualifications }}</ion-text>
      </ion-item>

      <ion-text color="secondary" *ngIf="userData.experiences.length > 0">Experiência de trabalho</ion-text>
      <div class="experiences" *ngIf="userData.experiences.length > 0">
        <ion-item class="styled" lines="none" *ngFor="let experience of userData.experiences">
          <ion-icon slot="start" name="business-outline"></ion-icon>
          <ion-label class="styled">{{ experience.company_name }}</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="userData.experiences.length === 0">
          <ion-label color="secondary" position="stacked">Experiência de trabalho</ion-label>
          <ion-text color="medium">Não informado</ion-text>
        </ion-item>
      </div>

      <ion-item lines="none">
        <ion-label color="secondary" position="stacked">Carta de apresentação</ion-label>
        <ion-text color="medium">{{ userData.presentation_text || 'Não informado' }}</ion-text>
      </ion-item>

    </ion-card-content>


  </ion-card>

  <ion-button
    *ngIf="userData"
    class="sw-button outside-form"
    color="light"
    expand="block"
    (click)="goToUpdateCandidate()"
  >
    Editar dados
    <ion-icon slot="end" src="/assets/logo.svg"></ion-icon>
  </ion-button>


  <ion-text *ngIf="!userData">Sem perfil</ion-text>

</ion-content>
