
<ion-content>
  <img #lightblue class="light-blue" src="/assets/shape-light-blue.svg" alt="">
  <img #strongblue class="strong-blue" src="/assets/shape-strong-blue.svg" alt="">

  <div class="logo">
    <img #logo src="/assets/logo.svg" alt="">
    <h3 #wrapper >Seja bem vindo ao SmartWork!</h3>
  </div>


  <form class="sw-form" [formGroup]="loginForm" novalidate>

    <ion-item lines="none">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input formControlName="password" [type]="showPass ? 'text' : 'password'" placeholder="Senha"></ion-input>
      <ion-icon slot="end" (click)="toggleShowPassword()" [name]="showPass ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
    </ion-item>

    <ion-button
      [disabled]="loginForm.invalid"
      color="secondary"
      expand="block"
      class="sw-button"
      (click)="doLogin()"
    >
      Login
      <ion-icon slot="end" src="/assets/logo.svg"></ion-icon>
    </ion-button>

    <ion-button
      color="secondary"
      expand="block"
      class="sw-button"
      (click)="goToRegistration()"
    >
      Registre-se
      <ion-icon slot="end" src="/assets/logo.svg"></ion-icon>
    </ion-button>
  </form>

  <p class="forgot-password" (click)="goToPasswordRecover()">Esqueci minha senha</p>

</ion-content>
