
.light-blue, .strong-blue {
    position: fixed;
    left: 0;
    top: 250px;
    z-index: 0;
}

.strong-blue {
    top: 98px;
    left: -2px;
}


.logo {
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50px;
        margin-left: 20px;
    }
    h3 {
        max-width: 150px;
        margin-left: 10px;
        color: var(--ion-color-primary);
    }
}

form.login-form {

    margin-top: 10vh;
    padding: 10vw;

    ion-item {
        --padding-start: 12px;
        --highlight-height: 2px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 2px 1px #4c8dff;        ;
        border-radius: 8px;
        

        ion-icon {
            font-size: 18px;
            margin-right: 8px;
            padding-right: 8px;
        }

        ion-icon[slot=start] {
            border-right: 1px solid var(--ion-color-medium);
        }
    }
}


    
.forgot-password {
    position: relative;
    width: 60%;
    text-align: center;
    margin: 30px auto;
    background: #FFF;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    color: var(--ion-color-danger);
}