<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Currículos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="refreshResumesList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <resume-card
    *ngFor="let key of resumesKeys"
    [resume]="resumes[key]"
  ></resume-card>

  <div *ngIf="!isLoading && resumes?.length === 0" class="ion-text-center">
    <h2>Os currículos aparecerão aqui</h2>
  </div>

  <div class="spinner">
    <ion-spinner *ngIf="isLoading" name="lines"></ion-spinner>
  </div>

</ion-content>
