
.title {
  font-size: 16px;
  font-weight: normal;
}

ion-content {
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-bottom: 30px;
}

ion-item-divider {
  border-radius: 8px 8px 0px 0px;

  ion-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

ion-item {
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.30);
}