.wrapper {
    color: var(--ion-color-secondary);
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.sw-button {
    margin-left: 20px;
    margin-right: 20px;
}