ion-content {
    --background: var(--ion-color-secondary)
}

form.experience-form {
    padding: 5vw;

    .date-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ion-item.styled {
        --padding-start: 12px;
        --padding-end: 0px;
        --highlight-height: 2px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 2px 1px #4c8dff;
        border-radius: 8px;

        ion-datetime {
            --padding-start: 0px;
            --padding-end: 0px;
        }
        

        ion-icon {
            font-size: 18px;
            margin-right: 8px;
            padding-right: 8px;
        }

        ion-icon[slot=start] {
            border-right: 1px solid var(--ion-color-medium);
        }
    }
}