/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.sw-modal .modal-wrapper {
    background: transparent;

    ion-card {
        position: absolute;
        top: 25%;
        align-self: center;
        border-radius: 10px;
    }
}

ion-toolbar {
    --border-color: transparent;
  }
  
  .header-md::after {
    display: none;
  }

.md ion-toolbar ion-title {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 70px;
    text-align: center;
  }

ion-content {
    --background: #ebe8e8;
}

form.sw-form {
    padding: 8vw;

    ion-item {
        --padding-start: 12px;
        --highlight-height: 2px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 2px 1px #4c8dff;        ;
        border-radius: 8px;
        

        ion-icon {
            font-size: 18px;
            margin-right: 8px;
            padding-right: 8px;
        }

        ion-icon[slot=start] {
            border-right: 1px solid var(--ion-color-medium);
        }
    }

    ion-select {
        --padding-start: 0;
        --padding-end: 0;
        max-width: 100%;
    }
}

ion-button.sw-button {
    --padding-top: 22px;
    --padding-bottom: 22px;
    --box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 40px;
    height: 60px;

    &[disabled] {
        opacity: .8;
    }
  
    &[expand=block] {
      --border-radius: 8px;
    }
    
    ion-icon[slot=end] {
      position: absolute;
      right: 0;
    }
}

.light-blue, .strong-blue {
    position: fixed;
    left: 0;
    top: 250px;
    z-index: 0;
}

.strong-blue {
    top: 98px;
    left: -2px;
}


@media (max-height: 568px) {
    .light-blue, .strong-blue {
        transform: scale(0.8);
        top: 200px;
        left: -60px;
    }

    .strong-blue {
        top: 87px;
        left: -40px;
    }
}

@media (max-width: 280px) {
    .light-blue, .strong-blue {
        transform: scale(0.8);
        top: 250px;
        left: -60px;
    }

    .strong-blue {
        top: 118px;
        left: -30px;
    }
}