ion-searchbar {
  --border-radius: 10px;
  margin-top: 5px;
}

ion-fab {
  margin-right: 80px;
  margin-bottom: 20px;
  outline: none;
}

.spinner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}