ion-slides {
    height: 100%;
    background: var(--ion-color-secondary);
}

ion-slide {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

h3.wrapper, p.text-wrapper {
    color: var(--ion-color-light);
    margin-bottom: 15px;
}

p.text-wrapper-justify {
    text-align: justify;
}

.sw-form {
    padding: 5vw;
    width: 90%;
    overflow-y: scroll;
}

ion-avatar {
    width: 120px;
    height: 120px;
    background: var(--ion-color-light);
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
        color: var(--ion-color-dark);
        font-size: 50px;
    }
}

.progress {
    margin: 20px;
    width: 70%;
}

ion-card {
    border-radius: 10px;
    overflow-y: scroll;
    width: 90%;
    padding-bottom: 20px;

    ion-card-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.sw-button.outside-form {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}