ion-slides {
    height: 100%;
    background: var(--ion-color-secondary);
}

ion-slide {
    display: flex;
    flex-direction: column;
}

h3.wrapper, p.text-wrapper {
    width: 85%;
    color: var(--ion-color-light);
    margin: 10px;
}

.sw-form {
    padding: 5vw;
    width: 90%;
}

ion-avatar {
    width: 120px;
    height: 120px;
    background: var(--ion-color-light);
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
        color: var(--ion-color-dark);
        font-size: 50px;
    }
}

.progress {
    margin: 20px;
    width: 70%;
}